.footer {
    max-width: $countainer;
    margin:0 auto;
    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;  
    }
    &__partners {
        height: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 150px;
    }
    &__partners-logo {
        margin-right: 20px;
        margin-top: 20px;
    }
    &__text {
        width: 100%;
        font-size: 19px;
        padding-left:20px;
    }
    @media($screen-tablet){
        &__info {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
        &__partners {
            margin-bottom: 0px;
        }
    }
}