html {
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
}
body {
   margin: 0;
}
main {
   display: block;
}
h1 {
   font-size: 2em;
   margin: 0.67em 0;
}
hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
}
pre {
   font-family: monospace, monospace;
   font-size: 1em;
}
a {
   background-color: transparent;
}
abbr[title] {
   border-bottom: none;
   text-decoration: underline;
   -webkit-text-decoration: underline dotted;
   text-decoration: underline dotted;
}
b,
strong {
   font-weight: bolder;
}
code,
kbd,
samp {
   font-family: monospace, monospace;
   font-size: 1em;
}
small {
   font-size: 80%;
}
sub,
sup {
   font-size: 75%;
   line-height: 0;
   position: relative;
   vertical-align: baseline;
}
sub {
   bottom: -0.25em;
}
sup {
   top: -0.5em;
}
img {
   border-style: none;
}
button,
input,
optgroup,
select,
textarea {
   font-family: inherit;
   font-size: 100%;
   line-height: 1.15;
   margin: 0;
}
button,
input {
   overflow: visible;
}
button,
select {
   text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
   -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
   border-style: none;
   padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
   outline: 1px dotted ButtonText;
}
fieldset {
   padding: 0.35em 0.75em 0.625em;
}
legend {
   box-sizing: border-box;
   color: inherit;
   display: table;
   max-width: 100%;
   padding: 0;
   white-space: normal;
}
progress {
   vertical-align: baseline;
}
textarea {
   overflow: auto;
}
[type="checkbox"],
[type="radio"] {
   box-sizing: border-box;
   padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto;
}
[type="search"] {
   -webkit-appearance: textfield;
   outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}
::-webkit-file-upload-button {
   -webkit-appearance: button;
   font: inherit;
}
details {
   display: block;
}
summary {
   display: list-item;
}
[hidden],
template {
   display: none;
}
@font-face {
   font-family: Roboto, sans-serif;
   font-weight: 400;
   font-style: normal;
   src: url(../fonts/Robotosans-serif.woff) format("woff"), url(../fonts/Robotosans-serif.woff2) format("woff2");
}
html {
   box-sizing: border-box;
}
body {
   font-family: Roboto, sans-serif;
   background-color: #0c0c0c;
}
footer,
header {
   padding: 0 20px;
}
h1 {
   font-size: 3.1rem;
   font-weight: 500;
   color: #fff;
}
p {
   color: #ccc;
}
button {
   background-color: #db3f41;
   color: #fff;
   border: none;
   outline: none;
   border-radius: 2.1rem;
   padding: 1.25rem 4.4rem;
   font-weight: 700;
   font-size: 1.1rem;
}
.login-btn {
   background-color: transparent;
   padding: 0.9rem 1.4rem;
}
.login-btn,
.sign-up-header-btn {
   color: #fff;
   border: 1px solid #db3f41;
   outline: none;
   border-radius: 2.1rem;
   font-weight: 700;
   font-size: 1.1rem;
}
.sign-up-header-btn {
   padding: 0.9rem 0.8rem;
}
.language {
   background-color: transparent;
   color: #fff;
   outline: none;
}
table {
   border: 1px solid #3f3f3f;
   border-collapse: collapse;
   width: 100%;
   height: 15.6875rem;
}
table,
tr {
   color: #fff;
}
tr {
   border: 1px solid #3f3f3f;
}
td {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   color: #fff;
   padding: 0 20px;
}
td:hover {
   color: #ff0;
   cursor: pointer;
}
td a {
   color: #999;
   text-decoration: none;
}
td a,
td span {
   font-size: 1.1rem;
}
td span {
   font-weight: 700;
}
.main__cards--solid {
   background-color: #0c0c0c;
   padding: 0 20px;
}
.main__cards--approx {
   background-color: #111;
   padding: 0 20px;
}
.header {
   height: 100px;
   background: #0c0c0c;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   max-width: 1170px;
   margin: 0 auto;
}
.header__bonuses,
.header__btn,
.header__btn-bonuses {
   display: none;
}
.header__burger-menu {
   width: 30px;
   border-top: 1px solid #fff;
   border-bottom: 1px solid #fff;
}
@media (min-width: 768px) {
   .header__burger-menu {
      display: none;
   }
   .header__btn {
      width: 280px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
   }
   .header__bonuses {
      position: relative;
      display: block;
   }
   .header__btn-bonuses {
      position: absolute;
      display: block;
      color: #fa0;
      font-weight: 700;
      text-decoration: none;
      top: 0;
      left: 25px;
      padding-bottom: 1px;
   }
   .header__btn-bonuses:hover {
      border-bottom: 1px dotted #fff;
   }
}
.main__slider {
   height: 500px;
   background-image: url('/assets/icons/svg/Slider-img.svg');
}
.main__slider-block {
   display: flex;
   width: 100%;
}
.main__slide {
   color: #fff;
   font-size: 20px;
}
.main__cards {
   justify-content: flex-end;
}
.main__card-main,
.main__cards {
   display: flex;
   flex-direction: column;
}
.main__card-main {
   max-width: 1170px;
   margin: 0 auto;
   align-items: center;
}
@media (min-width: 768px) {
   .main__card-main {
      display: flex;
      flex-direction: row;
      max-width: 1170px;
      margin: 0 auto;
      justify-content: space-between;
   }
}
.main__img-character {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   height: 365px;
}
.main__card {
   padding-top: 60px;
   padding-bottom: 70px;
}
.footer {
   max-width: 1170px;
   margin: 0 auto;
}
.footer__info {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
}
.footer__partners {
   height: 100px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: center;
   margin-bottom: 150px;
}
.footer__partners-logo {
   margin-right: 20px;
   margin-top: 20px;
}
.footer__text {
   width: 100%;
   font-size: 19px;
   padding-left: 20px;
}
@media (min-width: 768px) {
   .footer__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
   }
   .footer__partners {
      margin-bottom: 0;
   }
}
